<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

<div class="index-whole">
  <div class="form-title-c">みんなのおすすめギフト</div>

  <ul class='recommend-lists'>
    <% @gave_gifts.each do |gave_gift| %>
      <% if gave_gift.recommend_id == 2 %>
      <li class='r-list'>
      <div class="recommend-paper">              
        <div class="recommend-content">
              <div class='gift-img-box'>
                <%= image_tag gave_gift.image, class: "recommend-img" %>
              </div>
          <table class="recommend-table">
            <tbody>
              <tr>
                <th class="detail-item"><%= gave_gift.user.nickname %>さんのおすすめ
                <span class="deco-icon-c">▶︎▶︎</span></th>
                <td class="detail-point"><%= gave_gift.g_content %></td>
              </tr>
              <tr>
                <th class="detail-item">購入場所</th>
                <td class="detail-value"><%= gave_gift.g_shop %></td>
              </tr>
              <tr>
                <th class="detail-item">シチュエーション</th>
                <td class="detail-value"><%= gave_gift.g_situation %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>


<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>