<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

<div class="index-whole">
  <div class="form-title-c">みんなのおすすめギフト</div>

  

  <ul class='gift-lists'>
    <% @gave_gifts.each do |gave_gift| %>
      <li class='list'>

        <% if gave_gift.recommend_id == 2 %>
          <div class="gift-paper-c">
            <div class="gift-info-data">
              <%= gave_gift.g_date %>
            <div class="recommend-content">
              <div class='gift-img-box'>
                <%= image_tag gave_gift.image, class: "gift-img-c" %>
              </div>
              <div class='gift-info-c'>
                <div class='gift-info-box'>
                  <span class="gift-info-title">内容：</span>
                  <%= gave_gift.g_content %>
                </div>
                <div class="gift-info-box">
                  <span class="gift-info-title">購入場所：</span>
                  <%= gave_gift.g_shop %>
                </div>
                <div class="gift-info-box">
                  <span class="gift-info-title">シチュエーション：</span>
                  <%= gave_gift.g_situation %>
                </div>
                <div class="gift-info-box">
                  <span class="gift-info-title">記録者：</span>
                  <%= gave_gift.user.nickname %>
                </div>            
              </div>
            </div>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>


<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>