<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

<div class="index-whole">
  <div class="form-title-r">いただいた物の記録</div>

  <ul class='gift-lists'>
    <% @received_gifts.each do |received_gift| %>
      <li class='list'>
      <div class="gift-paper">
        <div class='gift-info-date'>
          <%= received_gift.r_date %>
        </div>
        <div class='gift-img-box'>
          <%= image_tag received_gift.image, class: "gift-img" %>
        </div>

        <div class='gift-info'>
          <div class='gift-info-box'>
            <%= received_gift.r_content %>
          </div>
          <div class="received-info-btn">
            <%= link_to "詳細", "/received_gifts/#{received_gift.id}" %>
          </div>
        </div>
      </div>
      </li>
    <% end %>
  </ul>

</div>

<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>