<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

<div class="index-whole">
  <div class="form-title-r">いただいた物の記録</div>

  <ul class='gift-lists'>
    <% @received_gifts.each do |received_gift| %>
      <% if user_signed_in? && received_gift.user.id == current_user.id %>
        <li class='list'>
        <div class="gift-paper">
          <div class='gift-info-date'>
            <%= received_gift.r_date %>
          </div>
          <div class='gift-img-box'>
            <%= image_tag received_gift.image, class: "gift-img" %>
          </div>

          <div class='gift-info'>
            <div class='gift-info-box'>
              <%= received_gift.r_content %>
            </div>
            <%= link_to "/received_gifts/#{received_gift.id}", method: :get do%>
              <button class="received-info-btn">詳細</button>
            <% end %>
          </div>
        </div>
        </li>
      <% end %>
    <% end %>
  </ul>

</div>

<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>