<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

<div class="index-whole">
  <span class="form-title-r">いただいた物の記録</span>

  <ul class='gift-lists'>
    <% @received_gifts.each do |received_gift| %>
      <li class='list'>
        <%#<%= link_to "/products/#{product.id}" do %>
        <div class='gift-img-box'>
          <%= image_tag received_gift.image, class: "gift-img" %>

          <% if received_gift.received_id == "2" %>
          <div class="received-alart">
            <span>RECEIVED</span>
          </div>
          <% end %>
        </div>

        <div class='gift-info'>
          <div class='gift-info-box'>
            <%= received_gift.r_content %>
           </div>
           <div class="gift-info-box">
            <%= received_gift.r_person %>さんより
          </div>
        </div>
      </li>
    <% end %>
  </ul>

</div>

<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>