<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

<div class="index-whole">
  <div class="form-title-g">贈った物の記録</div>

  <ul class='gift-lists'>
    <% @gave_gifts.each do |gave_gift| %>
      <li class='list'>
      <div class="gift-paper">
        <div class='gift-info-date'>
          <%= gave_gift.g_date %>
        </div>
        <div class='gift-img-box'>
          <%= image_tag gave_gift.image, class: "gift-img" %>
        </div>

        <div class='gift-info'>
          <div class='gift-info-box'>
            <%= gave_gift.g_content %>
          </div>
          <div class="gift-info-btn">
            <%= link_to "詳細", "#" %>
          </div>
        </div>
      </div>
      </li>
    <% end %>
  </ul>

</div>
<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>