<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

<div class="index-whole">
  <span class="form-title-g">贈った物の記録</span>

  <ul class='gift-lists'>
    <% @gave_gifts.each do |gave_gift| %>
      <li class='list'>
        <%#<%= link_to "/products/#{product.id}" do %>
        <div class='gift-img-box'>
          <%= image_tag gave_gift.image, class: "gift-img" %>
        </div>

        <div class='gift-info'>
          <div class='gift-info-box'>
            <%= gave_gift.g_content %>
          </div>
          <div class="gift-info-box">
            <%= gave_gift.g_person %>さんへ
          </div>
        </div>
      </li>
    <% end %>
  </ul>

</div>
<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>